
<form action ="/payment/results">
  <div>
    <label for="zebra" >APR</label>
    <input id="zebra" type="text" name="apr" placeholder="E.g. 5.42">
  </div>

  <div>
    <label for="apple" >Number of years</label>
    <input id="apple" type="text" name="year" placeholder="How many years to repay?">
  </div>

  <div>
    <label for="fun" >Principal</label>
    <input id="fun" type="text" name="pv" placeholder="How much principal?"> 
  </div>
  <button>Calculate monthly payment </button>
</form>
